.stack-image{

    width: 60%;
    display: block;
    margin: auto;
}

.img
{
    display: inline-block;
}
.hidden{
    display: none;
}
.text-center {
    text-align: center;
}
#instructions{
    height:6rem;    
    margin:auto;
    width: 80%; 
    display: none;
}
.canvas {
    left: 0;
    right: 0;
    z-index: 0;
    margin:auto;
 
}
@media only screen and (min-width: 1000px) {
    .stack-info{
        margin-left: 15rem;
    }
    .afterimage{
        margin-left: 15rem;
    }
    .stack-image{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .img_space{
        margin-left: 4rem;
    }
    .canvas{
        margin-left: 12rem;

    }
  }
 
  @media only screen and (max-width: 500px) {

    .stack-image{
        display: block;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: row;
        justify-content: center;
    }
    
    .custom-btns{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;;
        margin: 1rem 0;
    }
  }
